.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: var(--white-color);
  font-weight: 500;
  overflow-y: auto;
  /* Ensure scrollbar appears when needed */
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  /* Added shadow for visual separation */
}

.sidebar-heading {
  width: 100%;
  color: var(--black-color);
  font-size: 1.5rem;
  padding: 1rem 1rem;
  /* Adjusted padding */
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  /* Ensures the background color is applied */
  z-index: 10;
  /* Ensure it stays above other content */
}

.sidebar-title {
  margin: 0.8rem 0;
}

.create-notes {
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-right: 1rem;
  /* Adjusted margin */
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Added shadow for better visual appeal */
}

.create-notes svg {
  margin-right: 0.5rem;
}

.sidebar-notes-list {
  padding: 1rem 1rem 20rem;
  /* Adjusted padding */
  width: 100%;
  flex: 1;
  overflow-y: auto;
  /* Ensure scrollbar appears when needed */
}

.sidebar-note-element {
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
}

.note-list-icon {
  background-color: var(--notes-color-1);
  color: var(--white-color);
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* Ensures the icon is circular */
}

.note-selected {
  background-color: var(--notes-back-color);
  padding: 0.5rem;
  border-radius: 1.5rem;
  /* Adjusted to be consistent */
}

/* Style scrollbar for webkit browsers */
.sidebar::-webkit-scrollbar {
  width: 0.6rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  /* Set color for scrollbar thumb */
  border-radius: 0.3rem;
}

.sidebar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  /* Set color for scrollbar track */
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    text-align: center;
    box-shadow: none;
    /* Remove shadow for mobile view */
  }

  .sidebar-heading {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .create-notes {
    width: 3rem;
    /* Adjusted size */
    position: fixed;
    bottom: 1rem;
    align-self: center;
  }

  .note-selected {
    border-radius: 1rem;
    /* Adjusted for mobile */
  }

  .sidebar-notes-list {
    padding: 1rem;
  }
}